.Arena {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
}

.MainPane {
  min-width: 1224px;
}

.DetailPane {
  position: fixed;
  left: 1220px;
  flex-direction: column;
  width: calc(100vw - 1240px);
  height: calc(100vh - 7em);
}

@media only screen and (max-width: 1440px) {
  .MainPane {
    min-width: 1046px;
    max-width: 1046px;
  }
  .DetailPane {
    left: 1040px;
    width: calc(100vw - 1056px);
  }
}