.Day {
  display: inline-block;
  background-color: rgba(0,0,0,0.07);
  font-size: 0.8em;
  color: #BBBBBB;
  width: 1.25em;
  padding: 0.5em;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.Day[scheduled='true'] {
  background-color: #7E57FF;
  color: #FFFFFF;
}
