.InputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Input {
    border: none;
    font-size: 14px;
    padding: 5px;
    text-align: right;
    width: 60px;
    background-color: rgba(0,0,0,0.07);
    border-radius: 20px;
    text-align: center;
}
.Input:hover {
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -2px;
    border: 1px solid rgba(0,0,0,0.15);
}
.Input:focus {
    outline: none;
}