.Week {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.WeekSeparator {
  border-left: 1px solid rgba(0,0,0,0.1);
}

.Week:not(:last-child) .WeekSeparator {
  width: 10px;
  background: #E0E0E255;
}

.Week:last-child .WeekSeparator {
  width: 0px; 
}